//Variaveis
//funções de cor: darken, lightenadjust-hue();saturate();complement(); 
$cor-padrão: #c24e4b;
$tamanho-fonte-padrao:16px;
$cor-secundaria: #1e2c35;
$corbranca: #fff;
$border-radius: 0.3em;
$box-shadow: black 0 2px 5px;
$media-query-mobile: '(max-width: 980px)';
$raio: 0.3em;