/** Contato **/

.contato input,
.contato button {
    display: block;
}

form {
    margin: 0 auto;
    width: 50%;
    @media #{$media-query-mobile} {
        width: auto;
    }
}

.contato input,
textarea {
    width: 100%;
    margin-bottom: .8*$tamanho-fonte-padrao;
    padding: 4px 8px;
    @include border-radius($raio);
    border: 2px solid #ccc;
}

.contato button {
    margin: 0 auto;
    background: $cor-padrão;
    border: 0;
    color: $corbranca;
    width: 210px;
    height: 38px;
    font-size: 1.2*$tamanho-fonte-padrao;
    @include border-radius($raio);
    @extend %box-shadow;
}