/** Destaque **/

.destaque {
    background: url(../imagens/destaque.jpg) center bottom repeat-x;
    -webkit-background-size: cover;
    background-size: cover;
    color: $corbranca;
    height: 330px;
    padding-top: multiplicador(10);
    @media #{$media-query-mobile} {
        font-size: 14px;
        height: 250px;
    }
    p {
        width: multiplicador(30);
        &:first-child {
            width: multiplicador(30);
            font-size: multiplicador(1.3);
            line-height: 1.1;
            &:first-line {
                font-size: multiplicador(2.2);
                font-weight: bold;
            }
        }
    }
    button {
        margin-top: multiplicador(1);
        background: $cor-padrão;
        border: 0;
        padding: multiplicador(.6);
        font-size: multiplicador(1.2);
        @include border-radius(50px);
        @extend %box-shadow;
        font-weight: bold;
    }
}