/** Geral **/

body {
    font-family: "Roboto Slab", serif;
}

.container {
    width: 940px;
    margin: 0 auto;
    @media #{$media-query-mobile} {
        .container {
            width: 90%;
        }
    }
}

.titulo-secao {
    text-decoration: underline;
    font-size: multiplicador(2);
    text-align: center;
}

.sobre,
.planos,
.blog,
.contato {
    padding: multiplicador(3) 0 multiplicador(6) 0;
}

h2 {
    margin-top: 0;
}