/** Header **/

header {
    border-top: 5px solid $cor-padrão;
    background: rgba($cor-secundaria, 0.8);
    height: 90px;
    width: 100%;
    position: absolute;
    @media #{$media-query-mobile} {
        height: auto;
    }
    .container {
        position: relative;
        @media #{$media-query-mobile} {
            position: static;
        }
    }
    h1 {
        @media #{$media-query-mobile} {
            max-width: 50%;
            margin: 0 auto;
        }
        img {
            @media #{$media-query-mobile} {
                max-width: 100%;
                margin: multiplicador(.5) auto;
                display: block;
            }
        }
    }
}

.menu-principal {
    position: absolute;
    right: 0;
    top: multiplicador(-.5);
    font-size: multiplicador(1.2);
    font-weight: lighter;
    @media #{$media-query-mobile} {
        position: static;
        display: block;
        text-align: center;
        width: auto;
    }
    ul {
        padding-left: 0;
    }
    li {
        display: inline-block;
        width: multiplicador(5);
        @media #{$media-query-mobile} {
            margin: multiplicador(.4);
            width: auto;
        }
    }
    a {
        color: $corbranca;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}