/** Planos **/

.planos {
    background: $cor-secundaria;
    h2 {
        color: $corbranca;
    }
}

.plano {
    background: $corbranca;
    width: multiplicador(18);
    display: inline-block;
    margin: multiplicador(1) 0 0 multiplicador(1.4);
    padding-bottom: multiplicador(2);
    button {
        background: $cor-padrão;
        border: 0;
        color: $corbranca;
        width: 210px;
        height: 38px;
        font-size: multiplicador(1.2);
        @include border-radius($raio);
        @extend %box-shadow;
        margin-left: multiplicador(2);
    }
    h3 {
        color: $corbranca;
        font-size: multiplicador(1.8);
        background: $cor-padrão;
        text-align: center;
        height: multiplicador(2);
        padding-top: multiplicador(.6);
        margin-top: 0;
    }
    div {
        text-align: center;
        color: $cor-padrão;
        font-size: multiplicador(2.75);
    }
    &:hover {
        background: #dedede;
    }
}

.itens-plano {
    padding-left: multiplicador(1.2);
    li {
        font-size: multiplicador(1);
        list-style: none;
        border-bottom: 1px solid #acacac;
        padding: multiplicador(.5);
        width: multiplicador(14.8);
        &:last-child {
            border: 0;
        }
    }
    span {
        float: right;
    }
}

@include all-sprite-sprites;
.sprite-icone-check,
.sprite-icone-x {
    width: 18px;
    height: 18px;
}